.productos {
    background-color: $colorFondoSections;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        color: $colorTitulos;
        border-bottom: solid 1px;
        width: fit-content;
    }

    &__content_1 {
        grid-area: content_1;
        align-items: center;
        transition: $tiempoAnimacion;
        justify-items: center;
        align-items: center;
    }

    &__content_1:hover {
        background-color: $sombreado;
        border-radius: $bordesSombreado;
    }

    &__img_1 {
        grid-area: img;
        object-fit: cover;
        width: 90%;
        border: solid 1px $colorTitulos;
        border-radius: $bordesImagenes;
    }

    &__parrafo {
        grid-area: parrafo;
        text-align: center;
        color: $colorParrafo;
    }

    &__subContent {
        grid-area: subContent;
    }

    &__content_2 {
        grid-area: content_1;
        justify-items: center;
        align-items: center;
        transition: $tiempoAnimacion;
    }

    &__content_2:hover {
        background-color: $sombreado;
        border-radius: $bordesSombreado;
    }
}

@media only screen and (max-width: 479px) {
    .productos {
        &__container {
            padding-top: 3%;
            grid-template-areas: "content_1" "subContent";
            @include grid (grid, 100%, auto);
        }
    
        &__container_2 {
            padding-top: 3%;
            grid-template-areas: "subContent" "content_1";
            @include grid (grid, 100%, auto);
        }

        &__title {
            font-size: $tituloChico;
        }

        &__content_1 {
            grid-template-areas: "img" "parrafo";
            @include grid (grid, 100%, auto);
        }

        &__content_2 {
            grid-template-areas: "img" "parrafo";
            @include grid(grid, 100%, auto);
        }

        &__img_1 {
            height: 65%;
        }

        &__parrafo {
            padding: 2%;
            font-size: 1em;
        }
    }
}

@media only screen and (min-width: 480px) {
    .productos {
        &__container {
            padding-top: 5%;
            grid-template-areas: "content_1" "subContent";
            @include grid (grid, 100%, auto);
        }
    
        &__container_2 {
            padding-top: 5%;
            grid-template-areas: "content_1" "subContent";
            @include grid (grid, 100%, auto);
        }

        &__title {
            font-size: $tituloMediano;
            padding-top: 1%;
        }

        &__content_1 {
            grid-template-areas: "img" "parrafo";
            @include grid (grid, 100%, auto);
        }

        &__img_1 {
            height: 60%;
        }

        &__content_2 {
            grid-template-areas: "img" "parrafo";
            @include grid(grid, 100%, auto);
        }

        &__parrafo {
            padding: 1%;
            font-size: 1.5em;
        }
    }
}

@media only screen and (min-width: 768px) {
    .productos {
        &__container {
            padding-top: 2%;
            grid-template-areas: "content_1 subContent";
            @include grid (grid, 50% 50%, 99%);
        }

        &__container_2 {
            padding-top: 2%;
            grid-template-areas: "subContent content_1";
            @include grid (grid, 50% 50%, 99%);
        }
    

        &__title {
            font-size: $tituloGrande;
            padding-top: 1%;
        }

        &__content_1 {
            padding: 1%;
            grid-template-areas: "img" "parrafo";
            @include grid (grid, auto, 70% 30%);
        }

        &__img_1 {
            height: 70%;
        }

        &__content_2 {
            padding: 1%;
            grid-template-areas: "img parrafo";
            @include grid(grid, 70% 30%, auto);
        }

        &__parrafo {
            font-size: 1.3em;   
        }
    }    
}