.mainHome{
    background-color: $fondoIndex;

    &__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color: $colorTitulos;
        margin-top: 2%;
        padding: 2%;
        font-size: $subTituloGrande;
        border-top: solid 1px $colorTitulos;
        border-bottom: solid 1px $colorTitulos;
    }
    &__parrafo{
        font-size: $parrafoMediano;
        color: black;
        padding: 3%;
        text-align: center;
    }
    &__link{
        color: $colorTitulos;
        text-decoration: none;
        text-align: center;
        padding: 0.5%;
        width: 15%;
        border: solid 1px $colorTitulos;
        transition: $tiempoAnimacion;
    }
    &__link:hover{
        background-color: $colorTitulos;
        color: whitesmoke;
    }
}

.slider {
    width: 60%;
    overflow: hidden;
    margin: 2.5%;

    li {
        list-style: none;
        width: 100%;
    }

    &__container {
        padding: 0;
        display: flex;
        width: 500%;
        animation: slider 30s infinite alternate linear;
    }

    &__img {
        width: 100%;
        border-radius: $bordesImagenes;
    }

    @keyframes slider {
        0% {margin-left: 0%;}
        18% {margin-left: 0%;}
        22% {margin-left: -100%;}
        38% {margin-left: -100%;}
        42% {margin-left: -200%;}
        58% {margin-left: -200%;}
        62% {margin-left: -300%;}
        78% {margin-left: -300%;}
        82% {margin-left: -400%;}
        100% {margin-left: -400%;}
    }
}

@media only screen and (max-width: 480px){
    .main{
        &__parrafoPrincipal{
            font-size: 1.2rem;
        }
    }
}


@media only screen and (min-width: 481px){
    .main{
        &__parrafoPrincipal{
            font-size: 1.5rem;
        }
    }
}

@media only screen and (min-width: 769px){
    .main{
        &__parrafoPrincipal{
            font-size: 2.2rem;
        }
    }
}