.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    background-color: $colorFondoSections;

    &__title {
        border-top: solid 1px $colorTitulos;
        border-bottom: solid 1px $colorTitulos;
        width: fit-content;
        margin-top: 2%;
        margin-bottom: 2%;color: $colorTitulos;
    }

    &__container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "img"
        "subContent_1"
        "subContent_2"
        "subContent_3";
        @include subContent(grid, center, center, 0.25%)
    }

    &__img {
        grid-area: img;
        height: 98.5%;
        border-radius: $bordesImagenes;
    }

    &__img_2 {
        height: 97%;
        border-radius: $bordesImagenes;
    }

    img {
        border: solid 2px $colorFondoSections;
        transition: $tiempoAnimacion;
    }

    img:hover {
        border: solid 2px $colorTitulos;
    }

    &__subContent_1 {
        grid-area: subContent_1;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        @include subContent(grid, center, center, 0.25%)
    }

    &__subContent_2 {
        grid-area: subContent_2;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        @include subContent(grid, center, center, 0.25%)
    }

    &__subContent_3 {
        grid-area: subContent_3;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        @include subContent(grid, center, center, 0.25%)
    }
}

@media only screen and (max-width: 479px) {
    .galeria {
        &__title {
            font-size: $tituloChico;
        }

        &__img {
            width: 90%;
        }
    
        &__img_2 {
            width: 90%;
        }

        &__subContent_1 {
            grid-template-columns: 100%;
        }
    
        &__subContent_2 {
            grid-template-columns: 100%;
        }
    
        &__subContent_3 {
            grid-template-columns: 100%;
        }
    }
}

@media only screen and (min-width: 480px) {
    .galeria {
        &__title {
            font-size: $tituloMediano;
        }

        &__img {
            width: 95%;
        }
    
        &__img_2 {
            width: 95%;
        }
    }
}

@media only screen and (min-width: 780px) {
    .galeria {
        &__title {
            font-size: $tituloGrande;
        }

        &__container {
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "img subContent_1"
            "img subContent_2"
            "img subContent_3";
        }
    
        &__img {
            width: 97%;
        }
    
        &__img_2 {
            width: 96%;
        }
    }
}