.sobreNosotros{
    text-align: center;
    text-justify: auto; 
    font-size: 2rem;      
}
   
.parrafoSobreNosotros{
    display: flex;
    flex-direction: row;
    align-items: center;
}