.menuB {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    #boton:checked ~ .menuD {
        display: block;
    }

    #boton:checked ~ nav > ul {
        display: flex;
    }

    #boton {
        display: none;
    }
    
    &__boton {
        display: block;
        :hover {
            cursor: pointer;
        }
    }

    &__img {
        margin: 3px;
        padding: 3px;
        border-radius: $bordesBotones;
        transition: $tiempoAnimacion;
        @include dimensiones (25px, 25px);
    }

    &__img:hover {
        box-shadow: $colorBordesBotones;
        background-color: $sombreado;
    }
}

.menuD {
    width: 100%;
    bottom: 2vh;
    right: 1vw;
    display: none;

    ul {
        list-style: none;
    }

    li {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: relative;
        margin-left: 1px;
        margin-right: 1px;
        padding: $paddingBotones;
        transition: $tiempoAnimacion;
        border-radius: $bordesBotones;
    }

    li:hover {
        justify-content: center;
        background-color: $sombreado;
        box-shadow: $colorBordesBotones;
    }

    a {
        text-decoration: none;
        display: block;
        color: rgb(255, 255, 255);
    }

    &__container_1 {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    &__list_1 {
        flex-direction: column;
    }

    &__list_1:hover > ul {
        display: flex;
        flex-direction: column;
    }
}

.menuB_2 {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    #boton:checked ~ .menuD_2 {
        display: block;
    }

    #boton:checked ~ nav > ul {
        display: flex;
    }

    #boton {
        display: none;
    }
    
    &__boton {
        display: block;
        :hover {
            cursor: pointer;
        }
    }

    &__img {
        margin: 3px;
        padding: 3px;
        border-radius: $bordesBotones;
        transition: $tiempoAnimacion;
        @include dimensiones (25px, 25px);
    }

    &__img:hover {
        box-shadow: $colorBordesBotones;
        background-color: $sombreado;
    }
}

.menuD_2 {
    position: absolute;
    width: 100%;
    top: 10vh;
    display: none;

    ul {
        list-style: none;
    }

    li {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: relative;
        margin-left: 1px;
        margin-right: 1px;
        padding: 1vh;
        font-size: $linkChico;
        transition: $tiempoAnimacion;
        border-radius: $bordesBotones;
    }

    li:hover {
        justify-content: center;
        background-color: $sombreado;
        box-shadow: $colorBordesBotones;
    }

    a {
        text-decoration: none;
        display: block;
        color: rgb(255, 255, 255);
    }

    &__container_1 {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    &__list_1 {
        flex-direction: column;
    }

    &__list_1:hover > ul {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .menuB {
        &__img {
            display: none;
        }
    }

    .menuD {
        width: 60%;
        display: block;
        margin-right: 1vw;
        margin-bottom: 0.5%;

        &__container_1 {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }

        &__list_1 {
            width: 100%;
            justify-content: center;
            font-size: $linkMediano;
        }

        li:hover {
            justify-content: center;
            background-color: $sombreado;
        }
    }

    .menuB_2 {
        &__img {
            display: none;
        }
    }

    .menuD_2 {
        position: absolute;
        top: 35vh;
        right: 1vw;
        width: 50%;
        display: block;

        &__container_1 {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }

        &__list_1 {
            width: 100%;
            justify-content: center;
        }

        li:hover {
            justify-content: center;
            background-color: $sombreado;
        }
    }
}